.logo{
    height:50px;
    width:50px;
    margin-top: 10px;
    display: inline;
    /* margin-left:290px; */
    align-items: center;
}
#foot{
   margin-top: 110px;
   position: fixed;
   /* bottom: 0; */
   
}
#i{
    margin-left:550px;
    gap: 25px;
}
