
body{
  cursor: pointer;
}
.headpage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 
.head h3 {
   color: #dc256c;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 0;
  font-family :Georgia, 'Times New Roman', Times, serif; 
  padding: 5px 20px;
}
.head-ele ul li{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
 
.head-ele ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}
 
.index {
  text-decoration: none;
  color: #a30d49;
  font-size: 18px;  
  font-weight: 540;
  text-decoration:overline;
  position: relative;
  transition: all 0.3s ease-in-out;
  padding: 15px 30px; 
  background-color: rgba(255, 255, 255, 0);  
  border: none;
  cursor: pointer;
  backdrop-filter: blur(5px);  
  font-family:Georgia, 'Times New Roman', Times, serif; 
}

 
.index:hover {
  transform: translateY(-4px); 
  text-decoration:underline;

}
